<a class="character-card" [routerLink]="['/character', character.id]">
  <img [src]="character.image" [alt]="character.name" 
      [loading]="priorityImage ? 'eager' : 'lazy'" 
      (error)="handleImageError($event)">
  <div class="character-card-content">
    <h2>{{ character.name }}</h2>
    <p>
      <strong i18n="@@characterCard.status">Estado:</strong> {{ character.status | statusTranslate }}
    </p>
    <p>
      <strong i18n="@@characterCard.species">Especie:</strong> {{ character.species }}
    </p>
    <span class="detail-link" i18n="@@characterCard.detailLink">Ver detalle →</span>
  </div>
</a>