select {
  width: 220px;
  padding: 14px;
  border-radius: 10px;
  border: 2px solid var(--border-secondary);
  background-color: var(--input-background);
  color: var(--text-color);
  font-size: 1rem;
  cursor: pointer;
  margin-left: 6px;
}
