input {
  width: 320px;
  padding: 14px;
  border-radius: 10px;
  border: 2px solid var(--border-primary);
  background-color: var(--input-background);
  color: var(--text-color);
  font-size: 1rem;
  outline: none;
  margin-left: 6px;

}

input:focus {
  box-shadow: 0 0 10px var(--border-primary);

}