input {
  width: 320px;
  padding: 14px;
  border-radius: 10px;
  border: 2px solid #00ffcc;
  background-color: #1f1f1f;
  color: white;
  font-size: 1rem;
  outline: none;

}

input:focus {
  box-shadow: 0 0 10px #00ffcc;

}