<h1 i18n="@@characterExplorerTitle">Explorador de personajes</h1>
<div class="filters">
  <app-search-input (search)="handleSearch($event)"></app-search-input>
  <app-status-filter [status]="selectedStatus()" (selectedStatus)="handleChangeStatus($event)"></app-status-filter>
</div>

@if(loading()){
<div class="spinner-container">
  <img src="/icons/spinner.svg" alt="Cargando" i18n-alt="@@loadingAlt" class="spinner">
</div>

} @else {

<div class="characters-container">
  @for (character of characters(); track character.id; let index = $index) {
  <app-character-card [character]="character" [priorityImage]="index < 4"></app-character-card>

  } @empty {
  <p class="no-results" i18n="@@noResults">No hay resultados</p>
  }
</div>
}

@if (error()) {
  <p class="no-results" i18n="@@loadError">No se pudieron cargar los personajes</p>
}

@if(!loading() && totalCharacters() > 0){
  <p class="total-characters" i18n="@@totalCharacters">
    Mostrando {{ characters().length }} de {{ totalCharacters() }} personajes
  </p>
}

@if (loadingMore()) {
<div class="spinner-container spinner-container-small">
  <img src="/icons/spinner.svg" alt="Cargando"  i18n-alt="@@loadingAlt" class="spinner">
</div>
}


<div #scrollAnchor class="scroll-anchor"></div>
