<h1>Character Explorer</h1>
<div class="filters">
  <app-search-input (search)="handleSearch($event)"></app-search-input>
  <app-status-filter [status]="selectedStatus()" (selectedStatus)="handleChangeStatus($event)"></app-status-filter>
</div>

@if(loading()){
<div class="spinner-container">
  <img src="/icons/spinner.svg" alt="loading" class="spinner">
</div>

} @else {

<div class="characters-container">
  @for (character of characters(); track character.id) {
  <app-character-card [character]="character"></app-character-card>

  } @empty {
  <p class="no-results">No hay resultados</p>
  }
</div>
}

@if (error()) {
  <p class="no-results">No se pudieron cargar los personajes</p>
}

@if(!loading() && totalCharacters() > 0){
  <p class="total-characters">
    Mostrando {{ characters().length }} de {{ totalCharacters() }} personajes
  </p>
}

@if (loadingMore()) {
<div class="spinner-container spinner-container-small">
  <img src="/icons/spinner.svg" alt="loading" class="spinner">
</div>
}


<div #scrollAnchor class="scroll-anchor"></div>
