:host {
  display: block;
  min-height: 100vh;
  color: white;
  padding: 30px;

}

h1 {
  text-align: center;
  font-size: 4rem;
  margin-bottom: 30px;
  color: #7cff00;
  text-shadow:
    0 0 10px #7cff00,
    0 0 20px #00ffcc;
}